[submodule "themes/hugo-theme-cactus-plus"]
	path = themes/hugo-theme-cactus-plus
	url = https://github.com/nodejh/hugo-theme-cactus-plus.git
[submodule "themes/hugo_theme_aglaus"]
	path = themes/hugo_theme_aglaus
	url = https://github.com/kumano-dormitory/hugo_theme_aglaus.git
